@using Book.Models;
@model IEnumerable<Categorey>
@{
    ViewData["Title"] = "Category";
}

<h1>@ViewData["Title"]</h1>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">@ViewData["Title"]</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-asp-controller="Category" asp-area="" asp-action="Create" class="btn btn-primary" >Create Now Category</a>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <th>
            Category Name
        </th>
        <th>
            Display Order
        </th>
        <thead></thead>
        <thead></thead>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td style="width:50%">
                    @obj.Name
                </td>
                <td style="width:30%">
                    @obj.DisplayOrder
                </td>
                <td>
                    <div class="">
                        <a asp-controller="Category" asp-action="Edit" class="btn btn-primary mx-2" asp-route-id="@obj.Id">Edit</a>
                    </div>
                </td>
                <td>
                    <div class="">
                        <a asp-controller="Category" asp-action="Delete" class="btn btn-danger mx-2" asp-route-id="@obj.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
</table>